<ion-side-menus enable-menu-with-back-views="true">

  <!--Center content-->
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button menu-toggle="left"
                class="button button-icon button-clear icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <div class="tabs tabs-positive tabs-icon-top mdl-js-ripple-effect">
      <a ui-sref="app.home"
         class="tab-item mdl-layout__tab"
         ng-class="{ 'active is-active': vm.$state.includes('app.home') }">
        <i class="icon ion-home"></i> Home
      </a>
      <a ui-sref="app.photos"
         class="tab-item mdl-layout__tab"
         ng-class="{ 'active is-active': vm.$state.includes('app.photos') }">
        <i class="icon ion-images"></i> Photos
      </a>
      <a ui-sref="app.help"
         class="tab-item mdl-layout__tab"
         ng-class="{ 'active is-active' : vm.$state.includes('app.help') }">
        <i class="icon ion-help"></i> Help
      </a>
    </div>
  </ion-side-menu-content>

  <!--Left menu-->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Diablos</h1>
    </ion-header-bar>
    <ion-content class="stable-bg">
      <ion-list>
        <ion-item ng-repeat="menuItem in vm.menuItems"
          nav-clear
          menu-close
          ui-sref="{{ menuItem.state }}">
          {{ menuItem.name }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
