.login-content {
  background: url('../img/football-small.jpg') no-repeat center left fixed;
  background-size: cover;

  h1 {
    color: white;
  }
}
.login-icon {
  background: url('../img/diablos-logo.png') center;
  background-size: cover;
  height: 189px;
  margin: 0 auto;
  width: 250px;
}
